main{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img { 
        padding: 50px;
    }

    .un{
        width: 10%;
        height: auto;
        
    }

    .deux{
        width: 50%;
        height: auto;
        flex-basis: 49%;

    }



}

/* Pour les écrans de tablette */
@media (min-width: 768px) and (max-width: 1024px) {
    .container{
        flex-direction: column;
        .un{
            width: 20%;
        }

        .deux{
            flex-basis: 0;
            width: 80%;

        }
    }
}
  
/* Pour les écrans de téléphone */
@media (max-width: 767px) {
    .container{
        flex-direction: column;
        .un{
            width: 25%;
        }

        .deux{
            flex-basis: 0;
            width: 90%;

        }

        img{
            padding: 10px;
        }
    }
}