main{
    background-color: var(--bleu-principal);
    overflow: auto;
}

.contenu-transition{
    position: fixed;
    top: -100%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    height: 200dvh;
    width: 100dvw;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 3;

    article{
        height: 50%;
    }

    .black{
        background-color: var(--noir-nuance);

    }

    .container{
        background-color: var(--bleu-principal);
        display: flex;
        justify-content: center;
        align-items: center;

        .box{
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            img{
                width: 50%;
                height: auto;
                padding: 20px;
                border-radius: 50px;
            }
            
            .element{
                padding: 20px;
                width: 50%;

                h2{
                    font-size: 3.5rem;
                }

                p{
                    font-size: 1.1rem;
                    text-align: left;
                }

                a {
                    text-decoration: underline;
                    color: var(--blanc-nuance);
                }

                h2, p, a{
                    margin: 30px;
                }

                .compatibilite-container{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    img{
                        height: 100%;
                        width: auto;
                        border-radius: 0;
                    }
                }

                .lien{
                    padding: 20px;
                }
            }
        }

        .croix{
            position: absolute;
            top: 5%;
            left: 95%;
            transform: translate(-50%, -50%);
            color: var(--blanc-nuance);
            font-size: 3rem;
            font-weight: 500;                
            padding: 20px;
        }


    }

}

.contenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    article{
        height: 50%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 50px;
        padding: 50px;

        img{
            transition: all ease-in-out 200ms;
            width: 100%;
            height: auto;
            border-radius: 25px;
        }

        h2{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            transition: all ease-in-out 200ms;
            opacity: 0;
            font-size: 3rem;
            text-align: center;
        }
    }
}


/* Pour les écrans de tablette */
@media (min-width: 768px) and (max-width: 1024px) {
    .contenu-transition{
        .container{
            .box{
                width: 95%;
                img{

                }

                .element{
                    width: 70%;
                    h2{
                        font-size: 2rem;
                    }

                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

}
  
/* Pour les écrans de téléphone */
@media (max-width: 767px) {
    .contenu-transition{
        .container{
            flex-direction: column;
            .box{
                flex-direction: column;
                justify-content: start;
                width: 95%;
                overflow: scroll;
                img{
                    width: 80%;

                }

                .element{
                    width: 100%;
                    h2{
                        font-size: 2rem;
                    }

                    p{
                        font-size: 0.9rem;
                    }
                }
            }

            .croix{
                font-size: 2rem;
                left: 90%;
                top: 2.7%;
            }
        }
    }

    .contenu{
        article{
          width: 80%;  
          h2{
            font-size: 2rem;
          }
        }
    }
}