@charset "UTF-8";
main {
  background-color: var(--bleu-principal);
  overflow: auto;
}

.contenu-transition {
  position: fixed;
  top: -100%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  height: 200dvh;
  width: 100dvw;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 3;
}
.contenu-transition article {
  height: 50%;
}
.contenu-transition .black {
  background-color: var(--noir-nuance);
}
.contenu-transition .container {
  background-color: var(--bleu-principal);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenu-transition .container .box {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.contenu-transition .container .box img {
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 50px;
}
.contenu-transition .container .box .element {
  padding: 20px;
  width: 50%;
}
.contenu-transition .container .box .element h2 {
  font-size: 3.5rem;
}
.contenu-transition .container .box .element p {
  font-size: 1.1rem;
  text-align: left;
}
.contenu-transition .container .box .element a {
  text-decoration: underline;
  color: var(--blanc-nuance);
}
.contenu-transition .container .box .element h2, .contenu-transition .container .box .element p, .contenu-transition .container .box .element a {
  margin: 30px;
}
.contenu-transition .container .box .element .compatibilite-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contenu-transition .container .box .element .compatibilite-container img {
  height: 100%;
  width: auto;
  border-radius: 0;
}
.contenu-transition .container .box .element .lien {
  padding: 20px;
}
.contenu-transition .container .croix {
  position: absolute;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  color: var(--blanc-nuance);
  font-size: 3rem;
  font-weight: 500;
  padding: 20px;
}

.contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenu article {
  height: 50%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px;
  padding: 50px;
}
.contenu article img {
  transition: all ease-in-out 200ms;
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.contenu article h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all ease-in-out 200ms;
  opacity: 0;
  font-size: 3rem;
  text-align: center;
}

/* Pour les écrans de tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .contenu-transition .container .box {
    width: 95%;
  }
  .contenu-transition .container .box .element {
    width: 70%;
  }
  .contenu-transition .container .box .element h2 {
    font-size: 2rem;
  }
  .contenu-transition .container .box .element p {
    font-size: 1rem;
  }
}
/* Pour les écrans de téléphone */
@media (max-width: 767px) {
  .contenu-transition .container {
    flex-direction: column;
  }
  .contenu-transition .container .box {
    flex-direction: column;
    justify-content: start;
    width: 95%;
    overflow: scroll;
  }
  .contenu-transition .container .box img {
    width: 80%;
  }
  .contenu-transition .container .box .element {
    width: 100%;
  }
  .contenu-transition .container .box .element h2 {
    font-size: 2rem;
  }
  .contenu-transition .container .box .element p {
    font-size: 0.9rem;
  }
  .contenu-transition .container .croix {
    font-size: 2rem;
    left: 90%;
    top: 2.7%;
  }
  .contenu article {
    width: 80%;
  }
  .contenu article h2 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=contenu.css.map */