
/* Panel section */

.panel-section{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}

.panel-section article{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.panel-section h1{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 25px;

}

.panel-video{
    background-color: var(--beige-principal);
}

.panel-video h1{
    color: var(--bleu-principal);
    font-weight: 500;
}

.black-transition-container{

    display: flex;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: 10;

    .unique{
        height: 100%;
        width: 33.33%;


        .black-transition-section{
            height: 100%;
            width: 33.33%;
            background-color: var(--noir-nuance);
            position: absolute;
            z-index: 100;
            transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);

        }

        .un{
            top: -100%;
        }

        .deux{
            top: 100%;
        }

        .trois{
            width: 33.33%;
            top: -100%;

        }

    }

    .troisieme{
        width: 33.33%;

    }


}


/* Pour les écrans de tablette */
@media (min-width: 768px) and (max-width: 1024px) {
    .panel-section h1{
        font-size: 1.5rem;
    }
    
}
  
/* Pour les écrans de téléphone */
@media (max-width: 767px) {
    .panel-section{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .panel-section h1{
        font-size: 1.5rem;
    }
    
    .panel-section article{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 33.33%;
    }
}